.eventsSectionContainer{
    padding: 150px 0;

    @at-root{
        .sectionTitleContainer{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-bottom: 50px;
            
            &:after{
                content: "";
                background: #e85889;
                height: 1px;
                width: 64px;
                margin-top: 30px;
            }

        
            &__title{
                color: #222222;
                font-size: 3.6rem;
                font-weight: 800;
                text-transform: uppercase;
                margin: 20px 0;

                &--white{
                    color: #ffffff;
                }                
            }
        
            &__subtitle{
                color: #777777;
                font-size: 1.7rem;
                font-style: italic;
                margin: 0;

                &--white{
                    color: #ffffff;
                }
            }

        }


        // cards section
        .trioCardsContainer{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            .trioCard{
                flex: 1 1 300px;
                margin: 10px 17px;
                max-width: 422px;

                &:hover{
                    box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);
                }

                .trioCardContent{
                    padding: 45px 25px;
                    box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);


                    p:first-child{
                        color: #222222;
                        font-size: 1.6rem;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    p:last-child{
                        color: #777777;
                        font-size: 1.4px;
                        font-weight: 400;
                        font-family: 'Poppins', sans-serif; 
                    }
                    @at-root{
                        .readMore{
                            color: #e85889;
                            font-size: 1.6rem;
                            font-style: italic;
                            text-decoration: none;
                            padding: 5px 10px;
                            border-radius: 5px;
                            
                            transition: all 0.4s;

                            &:hover{
                            color: #ffffff;
                            background: #e85889;
                            }
                        }

                    }
                }
            }
        }
    }
}

.eventSubscribeContainer{
    background: #463f8c;
    color: #ffffff;

    padding: 110px 20px; 
    
    .eventSubscribe{
        color: #ffffff;


        @at-root{
            .subscribeContainer{
                display: flex;
                flex-flow: row nowrap;
                max-width: 533px;
                margin: 38px auto 0;

                input[type="text"]{
                    flex: 1 1 auto;

                    background: #463f8c;
                    color: #ffffff;
                    font-size: 1.4rem;
                    padding: 20px 25px;
                    margin-right: -5px;
                    border: 1px solid #ffffff;
                    border-right: none;
                    border-radius: 5px;
                    
                    ::-moz-placeholder{
                        color: #ffffff;
                        background: #463f8c;
                        font-size: 1.4rem;
                        font-weight: 400;
                        opacity: 1;
                    }
                }
                input[type="submit"]{
                    flex: 0 1 auto;
                }
            }
        }
    
    }

    h2{
        font-weight: 700;
        text-transform: uppercase;

        text-align: center;
    }
    p{
        margin: 0 auto;;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        max-width: 870px;
    }

}