.contactFooterContainer{
    background: #1b1b1b;
}

.contactFooterContent{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    background: #1b1b1b;
    
    justify-content: space-around;
    .contact{
        display: flex;
        flex-flow: row nowrap;

        flex: 1 1 300px;

        padding: 0 39px;
        margin: 40px 0;
        max-width: 390px;
        
        &:not(:last-of-type){
            border-right: 2px solid rgba(88,88,88,0.58);

        }

        p{
            padding-left: 36px;
            margin: 0;
            color: #ababab;
        }
    }
}

.contactIcon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #2f2f2f;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    svg{
        font-size: 2rem;
        color: #ffffff;
    }
}

.footerContainer{
    background: #100f0f;
    position: relative;

    &:before{
        content: "";
        border-left: 30px solid transparent; 
        border-right: 30px solid transparent; 
        border-bottom: 25px solid #100f0f;
        position: absolute;
        left: calc(50% - 30px);

        top: -24px;

    }

    .toTopPage{
        position: absolute;
        left: calc(50% - 6px);
        top: -10px;

        svg{
            font-size: 1.5rem;
            color: #ffffff
        }
    }

    .wrapper{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .logoFooter{
            margin: 40px 0;
        }
    }

    .footerNav a{
        font-family: 'Poppins', sans-serif;
        color: #ababab;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.4rem;
        text-decoration: none;
        padding: 20px;

        &:hover{
            color: #ffffff;
        }
        &:focus{
            text-decoration: underline;
        }
    }

    .copyRight{
        color: #ffffff;
        font-size: 1.5rem;
        margin: 40px 0;

        span{
            color: #e85889;
        }
    }
}