header{
    background-image: url("../images/main-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 900px;

    color: white;

    position: relative;

    .wrapper{
        display: flex;
        flex-flow: column nowrap;

    }
}

nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    
    border-bottom: 2px solid rgba(224, 224, 224, 0.3);
    box-shadow: 0 2px 0 rgba(224, 224, 224, 0.3);

    .navBarSearch{
        display: flex;
        flex-flow: row nowrap;

        .navSearch{
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: #e85889;
            margin-left: 20px;

            display: flex;
            justify-content: center;
            align-items: center;

            a{
                color: #ffffff;
                font-size: 1.5rem;
            }
        }        
    }
    .logoTopNav{
        width: 150px;
        height: 80px;

        flex-shrink: 0;
    }
        @at-root{
            .topnav{
                display: flex;
                flex-flow: row nowrap;

                a{
                    text-align: center;
                    color: #ffffff;
                    padding: 15px;
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: 500;
                    text-transform: uppercase;

                    &:hover{
                        color: pink;
                    }
                }


                .icon{
                    display: none;
                }
               
              

            }
   
    }
}

.headerTitleContainer{
    text-align: center;
    max-width: 750px;

    position: absolute;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg{
        background: green;
        margin: 0 auto;
        font-size: 30px;
    }
    .headerTitle{
        text-transform: uppercase;
        margin: 0 0 57px;
    }
    .headerSubtitle{
        font-size: 2.2rem;
        font-style: italic;
    }

    @at-root{
        .button{
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            text-transform: uppercase;
            text-decoration: none;
            color: #ffffff;
            padding: 20px 43px;
            display: inline;
            border-radius: 5px;
            border: none;
            
            &--pink{
                background: #e85889;
            }
            &--purple{
                background: #463f8c;
            }
            &--wide{
                padding: 20px 60px;
                // margin: 20px 0px 20px 60px;        
            }
            &--noLeftBorder{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }


}
