#news{
    padding: 150px 0;
}

.newsContentContainer{
    background: #f4f4f4;
    padding: 45px 40px;


    .newsTitle{
        font-family: 'Raleway', sans-serif;
        color: #222222;
        font-size: 2.2rem;
        font-weight: 600;

        margin: 0;

    }
    .newsAuthor{
        color: #ababaab;
        font-size: 1.3rem;
        font-weight: 400;
    }
    .newsContent{
        color: #777777;
        font-size: 1.4rem;
        font-weight: 400;

        margin-bottom: 45px;
    }


}

.newsFlowContainer{
    display: flex;
    flex-flow: row wrap;

    position: relative;

    .newsContainer{
        // float: left;
        

 
    }

    .newsContainer--duo{
        display: flex;
        flex-flow: row nowrap;

        position: absolute;
        top: 330px;

        .newsContentContainer{
            margin-right: 30px;
        }
    }

    .newsContainer--horizontal{
        margin-right: 30px;
        display: flex;
        flex-flow: row nowrap;

        align-self: flex-start;

        .newsContentContainer{

            padding-left: 60px;
            max-width: 400px;
        }
    }

    .newsContainer--vertical{
        display: flex;
        flex-flow: column wrap;

        background: #f4f4f4;

        .newsContentContainer{
            margin-top: 30px;
        }
    }

    

    img{
        max-width: 370px;
        max-height: 300px;        
    }
}

.newsContentContainer{
    max-width: 370px;
    max-height: 300px;
}







