#pricing{
    background-image: url("../images/pricing-image.png");
    background-position: top;
    background-repeat: no-repeat;

}

.pricingSectionContainer{
    padding: 130px 0 110px;

    .trioCardsContainer{
        background: #ffffff;
        box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.04);
        padding: 15px;

        .trioCard{
            background: #ececec;
            padding: 30px 0 70px 0;
            margin: 15px;
            border: 1px solid #ececec;
        }
    }

    .pricingCardTitleContainer{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .pricingCardTitle{
            color: #222222;
            font-size: 2rem;
            font-weight: 500;
            margin: 20px 0 10px;
        }
        .pricingCardSubtitle{
            font-family: 'Poppins', sans-serif;
            color: #777777;
            font-weight: 300;

        }

        &:after{
            content: "";
            background: #222222;
            height: 1px;
            width: 40px;
            margin-top: 20px;            
        }

        p{
            margin: 0;
        }
    }

    .priceContainer{
        text-align: center;
        padding: 40px 0;
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        p{
            margin: 0;
            padding: 0;
        }

        p:nth-of-type(1){
            font-family: 'Poppins', sans-serif;
            color: #222222;
            font-size: 2rem;
            font-weight: 500;
            line-height: 20px;

            align-self: flex-start;
        }
        p:nth-of-type(2){
            font-size: 4rem;
            font-weight: 500;
            align-self: flex-start;
            margin: 0 !important;
            padding: 0 !important;
            line-height: 30px;

        }

        p:nth-of-type(3){
            color: #777777;
            font-size: 1.4rem;
            font-weight: 300;
            align-self: flex-end;
            line-height: 15px;

        }
    }

    .priceContentContainer{

        p{
            padding: 20px 0px 20px 70px;
            margin: 0;
            border-top: 1.5px dashed #e0e0e0;
            color: #777777;
            font-size: 1.5rem;
            font-weight: 400;

            &:last-of-type{
                margin-bottom: 40px;
            }
        }
        .button{
            margin: 0 70px;
        }
    }
}

