@media (max-width: 480px) {
    .quotesSectionContainer{
        flex-flow: row wrap;

        .quoteSection{
            margin: 0;
        }
    }
    .quoteImgContainer{
        flex-flow: row wrap;
        justify-content: space-around;
    
        flex-grow: 1;
    }

    .schedule{
        border: none !important;
        padding: 0 !important;

        &::before{
            display: none !important;
        }
        .borderMaskTop, .borderMaskBottom{
            display: none;
        }
    }

    .footerNav{

        a{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }

}

@media(max-width:864px){
    .newsContainer--duo{
        flex-flow: column nowrap !important;
    }
    .newsContainer--horizontal{
        flex-flow: column nowrap !important;
    }
    .newsContainer--vertical{
        flex-flow: column nowrap !important;
    }

    .contactFooterContainer{

        .contact{
            padding-left: 0;
        }
    }
}

@media (max-width: 1050px){
    nav{
        position: relative;

        .navBarSearch{
            height: 50px;
        }

        .navSearch{
            margin: 0 !important;
        }
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;

    }
    .topnav.responsive {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        right: 44px;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        display: flex;
        border: 1px solid #666666;
        background: black;
    }
}


@media (max-width: 1224px){
    .newsSectionContainer{
        background: #f4f4f4;
        padding: 100px 0;
    }
    .newsFlowContainer{
        justify-content: center;
    }
    .newsContainer--duo{
        position: static !important;
    }
    .newsContainer--horizontal{
        margin: 0 !important;
    }
    .newsContainer--vertical{
        flex-flow: row wrap !important;

        .newsContentContainer{
            margin-left: 30px;
        }
    }
    .newsContainer--duo{
        background: #f4f4f4;

        .newsContentContainer:last-of-type{
            margin: 0;

        }
    }
}


