@media (max-width: 480px) {

    .pricingSectionContainer .priceContentContainer p{
        padding: 20px 0;
        text-align: center;
    }
    .contactFooterContent{
        padding: 20px;
    }
    #news .wrapper{
        width: 100%;

        .center{
            text-align: center;
        }
    }
    .quotesSectionContainer{
        flex-flow: row wrap;

        .quoteSection{
            margin: 0;
            text-align: center;
        }
    }
    .quoteImgContainer{
        flex-flow: row wrap;
        justify-content: space-around;
    
        flex-grow: 1;
    }

    .schedule{
        border: none !important;
        padding: 0 !important;
        flex-flow: column nowrap !important;
        align-items: center;
        margin: 40px 0;

        &::before{
            display: none !important;
        }
        .borderMaskTop, .borderMaskBottom{
            display: none;
        }
        .scheduleImg{
            margin: 20px 0 10px;
        }
        .scheduleDescription{
            padding: 0;
        }
    }

    .footerNav{

        a{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    .subscribeContainer{
        flex-flow: row wrap;
        input[type="text"]{
            margin: 0;
            border: 1px solid #ffffff;
        }
        input[type="submit"]{
            flex: 1 1 auto;
            border-radius: 5px;
        }
    }

}

@media(max-width:864px){
    .counterContainer .counterTitleContainer{
        text-align: center;
    }
    
    .newsFlowContainer{
        .newsContainer{
            margin: 10px !important;
        }
        .newsContentContainer{
            margin: 0 !important;
            margin-bottom: 50px !important;
            padding: 20px 0 !important;
            text-align: center;
        }        
        .newsContentContainer .button{
            margin: 0;
        }
        .newsContainer--duo{
            flex-flow: column nowrap !important;

        }
        .newsContainer--horizontal{
            flex-flow: column nowrap !important;

        }
        .newsContainer--vertical{
            flex-flow: column nowrap !important;

        }

    }
    .newsSectionContainer .sectionTitleContainer{
        padding: 0 20px;
    }

    .contactFooterContainer{

        .contact{
            padding: 0;
            border: none !important;
        }
    }
    .sectionTitleContainer{
        text-align: center;

        .sectionTitleContainer__subtitle{
            text-align: center;
        }
    }    
}

@media (max-width: 1050px){
    nav{
        position: relative;

        .navBarSearch{
            height: 50px;
        }

        .navSearch{
            margin: 0 !important;
        }
    }
    .topnav{
        width: 127px;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;

    }
    .topnav.responsive {
        width: 127px;
        position: relative;
        display: flex;
        flex-flow: column nowrap;

    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        display: block;
        background: black;
        z-index: 20;

        &:hover{
            background: #e85889;
        }
    }
}


@media (max-width: 1224px){
    .newsSectionContainer{
        background: #f4f4f4;
        padding: 100px 0;
    }
    .newsFlowContainer{
        justify-content: center;
    }
    .newsContainer--duo{
        position: static !important;
    }
    .newsContainer--horizontal{
        margin: 0 !important;
    }
    .newsContainer--vertical{
        flex-flow: row wrap !important;

        .newsContentContainer{
            margin-left: 30px;
        }
    }
    .newsContainer--duo{
        background: #f4f4f4;

        .newsContentContainer:last-of-type{
            margin: 0;

        }
    }
}


