#schedule{
    background: #fafafa;
    padding: 160px 0 100px
}

.scheduleSectionContainer{


}

.scheduleContentContainer{
    display: flex;
    flex-flow: row wrap;


    .datesContainer{
        flex: 1 1 200px;
        padding: 60px 30px;

        .dateContent{
            border: 1px solid #ececec;
            background: #ffffff;
            font-family: 'Poppins', sans-serif;
            padding: 24px 30px;

            .date{
                color: #b7b7b7;
                font-size: 1.3rem;
                font-weight: 400;
                margin: 0;
            }
            .dateOrder{
                color: #222222;
                font-size: 1.8rem;
                font-weight: 500;
                margin: 0;
            }
        }
    }

    @at-root{
        .scheduleContent{
        flex: 4 1 300px;
        // border-left: 1.5px dashed #ececec;
        margin: 0 30px;

            .schedule{
                display: flex;
                flex-flow: row nowrap;

                position: relative;

                border-left: 1.5px dashed #ececec;
                padding: 35px 60px;

                .borderMaskTop{
                    position: absolute;
                    top: 0px;
                    left: -1px;
                    height: 50%;
                    width: 1px;
                    background: #fafafa;
                }
                .borderMaskBottom{
                    position: absolute;
                    bottom: 0px;
                    left: -1px;
                    height: 50%;
                    width: 1px;
                    background: #fafafa;
                }                

                &:before{
                    position: absolute;
                    top: 50%;
                    width:30px;
                    border-bottom:1.5px dashed #e0e0e0;
                    content:"";
                    display:inline-block;
                    left:1px;                    
                }

                .scheduleImg{
                    border-radius: 50%;
                    overflow: hidden;
                    border: 7px solid #ececec;
    
                    width: 82px;
                    height: 82px;

                    flex-shrink: 0;
                }
                @at-root{
                    .scheduleDescription{
                        
                        span{
                            color: #777777;
                            font-size: 1.3rem;
                            font-weight: 400;
                        }
                        p{
                            margin: 0;
                        }
                        p:nth-of-type(1){
                            color: #222222;
                            font-weight: 500;                            
                        }
                        p:nth-of-type(2){
                            color: #222222;
                            font-size: 1.8rem;
                            font-weight: 700;
                        }
                        p:nth-of-type(3){
                            color: #666666;
                            font-size: 1.3rem;
                            font-weight: 400;
                        }
                    }

                }
            }
        }

    }
}