.speakerContainer{
    padding: 120px 0 150px;

    @at-root{
        .speakerCardsContainer{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            .speakerCard{
                box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
                border-radius: 5px;
                overflow: hidden;
                margin-bottom: 55px;

                &:hover{
                    box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);                  
                    
                    & .speakerSocial{
                        display: flex;

                        &:hover{
                            background: #e85889;
                            cursor: pointer;
                        }
                    }

                    & .speakerInfo{
                        background: #463f8c;
                    }

                    & .speakerName{
                        color: #ffffff;
                    }

                    & .speakerTitle{
                        color: #a6a0e3;
                    }

                }

            }

            @at-root{
                .speakerImg{
                    position: relative;


                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
    
                    .speakerSocialContainer{
                        position: absolute;
                        padding-bottom: 35px;

                        display: flex;                flex-flow: row nowrap;


                        .speakerSocial{
                            width: 34px;
                            height: 34px;
                            margin: 3px;
                            border-radius: 50%;
                            background: rgba(0,0,0,0.55);
                            
                            display: none;
                            justify-content: center;
                            align-items: center;
                            
                            a{
                                color: white;
                                font-size: 1.3rem;
                            }
                        }
                    }
                }

            }


            .speakerInfo{
                display: flex;
                flex-flow: column nowrap;

                justify-content: center;
                align-items: center;

                padding: 22px 0;

                .speakerName{
                    font-size: 1.6rem;
                    font-weight: 600;
                    margin: 0;
                    color: #222222;
                }
                .speakerTitle{
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.3rem;
                    font-weight: 400;
                    margin: 0;
                    color: #777777;
                }
            }
          
        }
    }

    .speakerPageIndicator{

        .indicatorContainer{
            display: flex;
            flex-flow: row nowrap;

            justify-content: center;


            .indicatorOuter{

                border-radius: 50%;
                margin: 1px;
                width: 15px;
                height: 15px;
                background: #463f8c;
                
                display: flex;
                justify-content: center;
                align-items: center;
                
                &:hover{
                    border: 1px solid red;
                    background: #ffffff;
                    cursor: pointer;

                    .indicatorInner{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #e85889;
                        
                    }
                    



                }

            }
        }
    }
}