@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/counter.scss";
@import "components/events.scss";
@import "components/speakers.scss";
@import "components/pricing.scss";
@import "components/schedule.scss";
@import "components/quotes";
@import "components/news";
@import "components/footer";
@import "components/queries";

// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
    width: 95%;
}

img{
    width: 100%;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1rem;
    margin: 0;
}